body {
	font-family: 'Quattrocento Sans';
}
#two {
	background-color: white;
	color: #555555;
}
#two p {
	font-size: 18px;
}
#two h2 {
	color: #555555;
}
#two header.major > :first-child:after {
	background-color: #555555;
}
.tips {
	background-color: white !important;
	color: #555555;
}
.tips p {
	font-size: 18px;
}
.tips h1,
.tips h3,
.tips h4 {
	color: #555555;
}
.tips header.major > :first-child:after {
	background-color: #555555;
}
.button.next {
	background-color: #252a43 !important;
}
.inner {
	width: 55% !important;
}
hr {
	border-bottom: solid 1px #ddd;
}
.annotation {
	text-align: center;
	color: #aaa;
	font-size: 14px !important;
	margin-top: -2em;
}
.gif {
	margin: 0 !important;
}
.gif img {
	width: 70% !important;
	height: auto;
	text-align: center !important;
	margin: auto;
}
.reference {
	color: #aaa;
	font-size: 16px !important;
	margin-bottom: 0.5em;
}
.tips b {
	color: #555555;
	font-size: 18px;
}
.reflection b {
	color: #555555;
}
.atlas {
	margin-left: 10px;
}
#menu ul {
	text-align: left;
}
.archives iframe {
	margin-bottom: 2em;
}
